<div class="flex pt-5 pl-10">
  <div class="space-x-2">
     <%= link_to t("posts.create"), new_post_path, class: "bg-blue-500 hover:bg-blue-600 text-white px-3 py-2 rounded-md" %>
  </div>
</div>
<% if @post_items.any? %>
  <div class="container grid grid-cols-4 gap-4 mx-auto pt-10">
    <%= render @post_items %>
  </div>
<% else %>
  <div class="p-2 bg-red-500 text-center font-bold text-white w-full"><%= t "football_pitch.not_found" %></div>
<% end %>
<div class="flex justify-center items-center my-5 p-2">
  <%== pagy_nav(@pagy) %>
</div>
