<% like = current_user.likes.find_by(post_id: post.id) %>
<% if like %>
  <%= form_with(model: like, url: post_like_path(post, like), method: :delete, data: { turbo: true }, class: "like-form") do |f| %>
    <button type="submit" class="bg-transparent border-0 p-0 m-0 cursor-pointer text-red-500">
      <i class="fas fa-heart"></i>
    </button>
  <% end %>
<% end %>
